<md-card>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <md-input-container>
            <input style="width:350px" [ngClass]="{'error': isValid('firstName')}" mdInput placeholder="First Name" formControlName="firstName">
        </md-input-container>
        <md-input-container>
            <input style="width:350px" [ngClass]="{'error': isValid('lastName')}" mdInput placeholder="Last Name" formControlName="lastName">
        </md-input-container>
        <md-input-container>
            <input style="width:350px" [ngClass]="{'error': isValid('email')}" type="email" mdInput placeholder="Email" formControlName="email">
        </md-input-container>
        <md-input-container>
            <input style="width:350px" [ngClass]="{'error': isValid('password')}" type="password" mdInput placeholder="Password" formControlName="password">
        </md-input-container>
        <md-input-container>
            <input style="width:350px" [ngClass]="{'error': isValid('confirmPassword')}" type="password" mdInput placeholder="Confirm Password" formControlName="confirmPassword">
        </md-input-container>
        <br>
        <span *ngIf="form.errors?.mismatchedFields">Passwords do not match</span>
        <br>
        <button md-raised-button color="primary">Register</button>
    </form>
</md-card>